<h1>Song Name: <%= @song.name %></h1>

<%= link_to "Edit", edit_song_path %><br/>
<%= link_to "Back to songs list", songs_path %><br/>
<%= link_to @song.artist.name, artist_path %><br/>
<%= link_to @song.genre.name, genre_path %><br/>